
.site-header{
  border-top:none;
}

.site-header .wrapper {
  display : flex;
  align-items: center;
  justify-content: space-between;
}
.wrapper::after {
  content: unset
}
.profile {
  height:40px;
  border-radius: 50%;
  float: left;
}